@media (max-width: 600px){
    body {
        font-family: 'Open Sans', sans-serif;
        background-color: #ECF0F1;
        color: #2C3E50;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #5DB7DE;
        color: #07020D;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    
    header img {
        height: 50px;
    }
    
    header h1 {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        margin: 0;
        margin-bottom: 5px;
    }
    
    header nav ul li a {
        color: #07020D;
        text-decoration: none;
    }

    .main-nav{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #5DB7DE;
        z-index: 1000;
        width: 100%;
        transition: transform 0.3s ease;
        will-change: transform;
    }

    .main-nav.open{
        display: flex;
        top: 100%;
    }

    .main-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: end;
    }

    .main-nav li {
        margin-right: 10px;
    }

    #hambutton {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #07020D;;
        top: 1rem;
        right: 1rem;
    }

    .open a {
        display: block;
    }
    /*
    header button {
        background: none;
        border: none;
        color: #07020D;
        font-size: 1.5rem;
    } */

    
    main {
        
        grid-template-columns: repeat(1, 1fr); /* Changed from 3 to 1 column */
        gap: 20px;
        padding: 20px;
    }
    
    .grid-container {
        display: grid;
        gap: 1rem;
    }
    
    .service, .testimonials-container blockquote {
        background-color: #fff;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    form label {
        font-weight: bold;
    }
    
    form input, form textarea {
        padding: 0.5rem;
        border: 1px solid #2C3E50;
        border-radius: 5px;
    }
    
    form button {
        background-color: #2C3E50;
        color: #ECF0F1;
        border: none;
        padding: 0.75rem;
        border-radius: 5px;
        cursor: pointer;
    }
    
    form button:hover {
        background-color: #34495E;
    }
    
    footer {
        background-color: #5DB7DE;
        color: #07020D;
        padding: 1rem;
        text-align: center;
    }

    figure {
        margin: 0;
        height: 50%;
         /* Set a maximum width for the figures */
    }
    
    img {
       /* width: 300px;
        height: 300px;*/
        max-width: 75%; /* Set a maximum width for the images */
        height: 50%;  /* Maintain aspect ratio */
    }

    figcaption {
        text-align: center;
        font-size: 10px;
    }

    #property-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
        justify-items: center;
    }

    #property-container figure {
        display: flex; /* Using flexbox to center image and caption */
        flex-direction: column; /* Stacking image and caption vertically */
        align-items: center; /* Centering the image and caption horizontally */
        margin: 0;
        max-width: 75%;
    }
    

    #property-container img {
        max-width: 100%;
        height: auto;
    }

    #property-container figcaption {
        text-align: center;
    }

    .hidden {
        display: none;
    }
    
    .employee-profiles-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .employee-profiles-content figure {
        margin: 0;
    }

    .employee-profiles-content img {
        max-width: 100%;
        height: auto;
    }

    .employee-profiles-content figcaption {
        text-align: center;
    }
}